* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
  margin-left: 3rem;
  margin-right: 3rem;
}
/* nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
} */

ul {
  list-style-type: none;
}
h3 {
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 15pt;
}

h1 {
  text-align: left;
  font-size: 40pt;
  color: white;
  font-weight: bold s;
}

#logo {
  height: 20%;
  width: 100%;
  position: fixed;
  background: white;
  padding: 10px 0;
  float: none;
}
#search-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#search-form {
  padding: 10px;
  padding-right: 30pt;
  border: 0;
  /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); */
}
.my-list {
  justify-content: center;
  text-align: center;
}
#main-title {
  margin-left: 1rem;
}
#main-title:hover {
  color: rgb(244, 88, 74);
  cursor: pointer;
}
#title {
  font-weight: bolder;
  background-color: #5555d4;
  color: white;
  width: 110%;
  margin-bottom: 2rem;
  font-size: 20pt;
  text-align: right;
}

#title h2 {
  padding: 30pt;
  height: 50%;
  text-align: right;
  margin-right: 10%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
}
.image {
  object-fit: fill;
}
.details {
  margin: 1.5rem;
}
.release-date {
  margin-top: 1rem;
}
.action-div {
  position: absolute;
  width: 100%;
  margin-left: 200px;
  bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  height: 2rem;
}
.list-button {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.comments {
  width: 100%;
}
/* form */
#comment {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 75%;
}
#submit,
button {
  /* remove default behavior */
  appearance: none;

  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #5555d4;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}
button:hover {
  background-color: #7878dd;
  color: rgb(255, 94, 0);
  cursor: pointer;
}
#submit {
  width: 20%;
  margin-left: 1rem;
}
#search {
  height: 2rem;
  border: none;
  border-radius: 3%;
}

#submit-button {
  background-color: #5555d4;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
.comments-list {
  font-size: 1.5rem;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
}
.comments-list li {
  margin-bottom: 0.75rem;
}

.hidden {
  display: none;
}

/* div button#the-list {
} */

.container {
  background-color: white;
  max-width: 80%;
  margin-left: 20%;
  border-bottom: rgb(255, 94, 0);
  border-style: solid;
  border-width: 0px 0px .5px 0px;
}

aside {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0;
  background-color: rgb(85, 85, 212);
  overflow-x: hidden;
  padding-top: 20px;
}

/* #content {
} */
/* My List Styling */
#list-container {
  display: grid;
  margin-left: 20%;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
}

.movie-div {
  width: 200px;
  align-items: center;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  text-align: center;
  margin: 2rem;
  z-index: 2;
  position: relative;
}

/* myList Delete button */
.close {
  position: absolute;
  left: 160px;
  top: 2px;
  width: 38px;
  height: 38px;
  opacity: 0;
  color: rgb(0, 0, 0);
  z-index: 1;
  font-size: 34px;
  border-width: 10px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}
.movie-div:hover .close {
  color: rgb(0, 0, 0);
  opacity: 1;
}

/* Watch button css */
.button {
  position: relative;
  /* top: 50%; */
  width: 74px;
  height: 36px;
  margin: 3px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
.button-10 .knobs:before,
.button-10 .knobs:after,
.button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

.button-10 .knobs:before {
  content: "";
  left: 4px;
  background-color: #03a9f4;
}

.button-10 .knobs:after {
  content: "NO";
  right: 4px;
  color: #4e4e4e;
}

.button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

.button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

.button-10 .checkbox:checked + .knobs:before {
  left: 42px;
  background-color: #f44336;
}

.button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

.button-10 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

.about-para {
  text-align: left;
  margin-left: 20%;
  font-size: 20pt;
  padding-top: 30pt;
}

#tmdb-logo {
  padding-top: 80pt;
  padding-bottom: 50pt;
  width: 500px;
  float: right;
}
